<div class="mx-20">

  <div class="container-md my-7 flex justify-center text-4xl font-light text-blue-950">
    <h1>Your weather charts</h1>
  </div>

  <app-selector-bar (selected)="onSelected($event)"></app-selector-bar>

  <app-charts-block *ngIf="isSelected" [dataToShow]="weatherData" [isAllInOne]="allInOneSelected"></app-charts-block>

  <div *ngIf="!isSelected" class="flex justify-center">
    <h2 class="text-2xl text-blue-950 font-light tracking-tight text-blue-950">Please select the charts to display</h2>
  </div>
</div>
